
:host {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s;
}

:host {
  ot-transition {
    background-color: $ot-primary-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 40px;

    span {
      color: white;
    }
  }
}

ot-transition {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.message {
  &-enter-class {
    opacity: 0;
    transform: translateY(-20px);
  }

  &-leave-class {
    opacity: 0;
    transform: translateY(-10px);
  }
}
