@import './variable.scss';

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

:host {
  display: inline-block;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: $button-border-radius;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .3);
  transition: all 0.3s;
}

:host(:hover) {
  color: $button-primary-color-light;
  border-color: $button-primary-color-light;
}

:host(:active) {
  color: $button-primary-color-dark;
  border-color: $button-primary-color-dark;
}

// block属性
:host([block]) {
  display: block;
}

// disabled属性
:host([disabled]) {
  cursor: not-allowed;
}

// size属性
// type=small
:host([size="small"]) {
  font-size: 14px;
  padding: 0 7px;
}

// type=large
:host([size="large"]) {
  font-size: 14px;
  padding: 7px 15px;
}

:host(:not([type])[disabled]), :host(:not([type])[disabled]:active) {
  color: #7e7979;
  background-color: #ccc;
  border-color: #ccc;
}

// type属性
// type=primary
:host([type="primary"]) {
  color: white;
  background-color: $button-primary-color;
  border: none;
}

:host([type="primary"]:hover), :host([type="primary"][disabled]) {
  background-color: $button-primary-color-light;
}

:host([type="primary"]:not([disabled]):active) {
  background-color: $button-primary-color-dark;
}

// type=success
:host([type="success"]) {
  color: white;
  background-color: $button-success-color;
  border: none;
}

:host([type="success"]:hover), :host([type="success"][disabled]) {
  background-color: $button-success-color-light;
}

:host([type="success"]:not([disabled]):active) {
  background-color: $button-success-color-dark;
}

// type=warn
:host([type="warn"]) {
  color: white;
  background-color: $button-warn-color;
  border: none;
}

:host([type="warn"]:hover), :host([type="warn"][disabled]) {
  background-color: $button-warn-color-light;
}

:host([type="warn"]:not([disabled]):active) {
  background-color: $button-warn-color-dark;
}

// type=error
:host([type="error"]) {
  color: white;
  background-color: $button-error-color;
  border: none;
}

:host([type="error"]:hover), :host([type="error"][disabled]) {
  background-color: $button-error-color-light;
}

:host([type="error"]:not([disabled]):active) {
  background-color: $button-error-color-dark;
}


