:host {
  padding: 4px 15px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

:host([type="default"]) {
  background-color: white;
  border: 1px solid grey;
}

:host([type="primary"]) {
  background-color: blue;
  color: white;
}