@import '../../../common/styles.scss';


:host {
  display: inline-block;
  height: 24px;
  width: 50px;
}

.switch {
  position: relative;
  display: block;
  height: 100%;
  input {
    display: none;
    &:checked {
      & + .slider {
        background-color: var(--#{$g__prefix}-primary);
        &:before {
          height: 20px;
          width: 20px;
          left: 2px;
          bottom: 2px;
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
    &:focus {
      & + .slider {
        box-shadow: 0 0 1px var(--#{$g__prefix}-primary);
      }
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 1000px;

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
  }
}

