:host {
  --border-radius: var(--others-ui-select-border-radius, 8px);
  --primary-color: var(--others-ui-select-primary-color, #2b5aed);
  --hover-primary-color: var(--others-ui-select-hover-primary-color, #{lighten(#2b5aed, 10%)});
  --select-color: var(--others-ui-select-selected-color, #{lighten(green, 60%)});
}

$border-radius: var(--border-radius);
$primary-color: var(--primary-color);
$hover-primary-color: var(--hover-primary-color);
$selected-color: var(--select-color);

:host {
  display: block;
  height: 32px;
  width: 100px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.select {
  position: relative;
  height: 100%;
  cursor: pointer;

  &-active-label {
    border: 1px solid #ccc;
    border-radius: $border-radius;
    padding: 4px;
    height: 100%;

    div {
      height: 100%;
      line-height: 22px;
      padding: 0 5px;
    }
  }

  &-list {
    opacity: 1;
    top: 32px;
    position: absolute;
    padding-top: 5px;
    left: 0;
    right: 0;

    &-box {
      overflow: hidden;
      border-radius: $border-radius;
      border: 1px solid transparent;
      padding: 4px;
      background-color: #fff;

      li {
        height: 30px;
        line-height: 20px;
        padding: 5px;

        &:hover {
          cursor: pointer;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: $border-radius;
        }
      }

      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }
  }


  &-active-label-hover {
    border-color: $hover-primary-color;
  }
}

.placeholder-color {
  color: #ccc;
  user-select: none;
}

.active {
  color: #ccc;
  position: relative;
}

.selected {
  font-weight: bold;
  border-radius: $border-radius;
  background-color: $selected-color !important;
}

.enter-class, .leave-class {
  opacity: 0;
}
