

// todo
$slider-rail-bg-color: var(--slider-rail-bg-color);
$slider-rail-active-bg-color: var(--slider-rail-active-bg-color);
$slider-rail-disabled-bg-color: var(--slider-rail-disabled-bg-color);
$slider-track-bg-color: var(--slider-track-bg-color);
$slider-track-active-bg-color: var(--slider-track-active-bg-color);
$slider-track-disabled-bg-color: var(--slider-track-disabled-bg-color);
$slider-handle-bg-color: var(--slider-handle-bg-color);
$slider-handle-active-bg-color: var(--slider-handle-active-bg-color);
$slider-handle-disabled-bg-color: var(--slider-handle-disabled-bg-color);
