name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js v18
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
    - run: npm i pnpm@8.6.11 -g
    - run: pnpm install --frozen-lockfile
    - run: pnpm run lint
    - run: pnpm run build
    - run: pnpm run test
