@import "../../common/styles/theme.sass";

:host {
  display: inline-block;
}

// block属性
:host([block]) {
  display: block;
}

// type属性
@mixin type-styles($color, $background-color, $border) {
  color: $color;
  background-color: $background-color;
  border: $border;
}

#button {
  display: inline-block;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: all 300ms;
  text-align: center;
  border: none;

  &[block] {
    display: block;
  }

  &[type="default"] {
    @include type-styles(
      null,
      white,
      1px solid grey
    );

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  &[type="primary"] {
    @include type-styles(
      white,
      $primary-color,
      null
    );

    &:hover {
      background-color: lighten($primary-color, 10%);
    }

    &:active {
      background-color: darken($primary-color, 10%);
    }
  }

  &[type="dashed"] {
    @include type-styles(
      null,
      white,
      1px dashed grey
    );

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }

    &:active {
      color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }

  &[size="large"] {
    font-size: 14px;
    padding: 7px 15px;
  }

  &[size="small"] {
    font-size: 14px;
    padding: 0 7px;
  }

  &[disabled], &[disabled]:hover {
    cursor: not-allowed;
    @include type-styles(
      rgba(0,0,0,.25),
      rgba(0,0,0,.04),
      1px solid #d9d9d9
    );
  }

  &[disabled][type="dashed"] {
    border-style: dashed;
  }
}
